<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= current_page.data.title || "Middleman" %></title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
  <body class="<%= page_classes %>">

    <header class="navigation" role="banner">
      <div class="navigation-wrapper">
        <a href="javascript:void(0)" class="logo">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_square.png" alt="Logo Image">
        </a>
        <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
        <nav role="navigation">
          <ul id="js-navigation-menu" class="navigation-menu show">
            <%
              @links = [
                [t(:home), t(:home_path)],
                [t(:flowers), t(:flowers_path)],
                [t(:our_company), t(:our_company_path)],
                [t(:background), t(:background_path)],
                [t(:news), t(:news_path)]
              ]
            %>
            <% @links.each do |item| %>
              <li class="nav-link"><a href="<%= item[1] %>"><%= item[0] %></a></li>
            <% end %>
          </ul>
        </nav>
        <div class="navigation-tools">
          <div class="search-bar">
            <form role="search">
              <input type="search" placeholder="Enter Search" />
              <button type="submit">
                <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
              </button>
            </form>
          </div>
        </div>
      </div>
    </header>

    <%= partial "partials/mainnav" %>
    <%= yield %>
  </body>
</html>
