<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-xs-6">
        <h3><%= t(:quick_access) %></h3>
        <ul>
          <%
            @links = [
              [t(:home), ""],
              [t(:flowers), t(:flowers_path)],
              [t(:our_company), t(:our_company_path)],
              [t(:background), t(:background_path)],
              #[t(:news), t(:news_path)],
              [t(:contact), t(:contact_path)]
            ]
          %>
          <% @links.each do |item| %>
            <% if item[1] == 'flowers' or item[1] == 'flores' %>
            <li>
              <a href="/<%= I18n.locale %>/<%= item[1] %>">
                <%= item[0] %>
              </a>
            </li>
            <% else %>
              <li class="nav-link"><a href="<%= "/#{get_language}/#{item[1]}" %>"><%= item[0].capitalize %></a></li>
            <% end %>
          <% end %>
        </ul>
      </div>
      <div class="col-md-3 col-xs-6">
        <h3><%= t(:flowers_title) %></h3>
        <ul>
          <% data.families.each do |family| %>
            <li>
              <a href="/<%= I18n.locale %>/<%= family.title[I18n.locale].parameterize %>">
                <%= family.title[I18n.locale] %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-3 col-md-offset-3 col-xs-6 col-xs-offset-3 text-center rfa-logo">
        <img class="pull-right" title="Rain Forest Alliance Certification" src="/images/rainforest_alliance.png" alt="Rain Forest Alliance Certification">
        <p><%= t(:certification) %></p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6 col-xs-12">
        <ul class="list-inline social">
          <% data.socialnetworks.each do |n| %>
            <li><a href="<%= n.link %>"><i class="fa fa-<%= n.network %>"></i></a></li>
          <% end %>
        </ul>
      </div>
      <div class="col-md-6 col-xs-12 text-right copyright">
      	<small><%= t(:copyright) %><br><%= t(:design) %> <a href="http://guayo.me" title="Guayo Mena" target="_blank">Guayo Mena</a>.</small>
      </div>
    </div>
  </div>
</footer>
