<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= t(:home_path) %>">
        <img class="logo-img" src="/images/logo-30.png" alt="Del Rí­o Exotic Flowers">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <%
          @links = [
            [t(:home), t(:home_path)],
            [t(:flowers), t(:flowers_path)],
            [t(:our_company), t(:our_company_path)],
            [t(:background), t(:background_path)],
            [t(:news), t(:news_path)]
          ]
        %>
        <% @links.each do |item| %>
          <% if item[1] == 'flowers' %>
            <li class="nav-link dropdown">
              <a href="<%= item[1] %>" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <%= item[0].capitalize %> <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <% data.families.each do |family| %>
                  <li><a href="/<%= family.nombre_en.parameterize %>"><%= family.nombre_en %></a></li>
                <% end %>
              </ul>
            </li>
          <% else %>
            <li class="nav-link"><a href="<%= item[1] %>"><%= item[0].capitalize %></a></li>
          <% end %>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
