<img style="width: 100%;" src="/images/portada-bienvenidos.jpg" alt="">
<h2><%= t(:why) %></h2>
<div class="row" class="why">
  <div class="col-md-6">
    <ul>
      <li><%= t(:quality) %><%= t(:quality_detail) %></li>
      <li><%= t(:compromise) %><%= t(:compromise_detail) %></li>
    </ul>
  </div>
</div>
