<img style="width: 100%;" src="/images/portada-bienvenidos.jpg" alt="">

<div class="text-center">
  <h2><%= t(:why) %></h2>
</div>
<div class="row" class="why">
  <div class="why-slider">
    <ul class="list-unstyled">
      <li>
        <div class="row">
          <div class="col-xs-6 text-center why-text">
            <h4><%= t(:quality) %></h4>
            <p><%= t(:quality_detail) %></p>
          </div>
        </div>
      </li>
      <li>
        <div class="row">
          <div class="col-xs-6 text-center why-text">
            <h4><%= t(:compromise) %></h4>
            <p><%= t(:compromise_detail) %></p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    <h2><%= t(:featured_flowers_title) %></h2>
    <p><%= t(:featured_flowers_text) %></p>
  </div>
</div>
<div class="container">
  <div class="row featured-flowers">
    <% data.flowers.select{ |flower| flower.featured == 1}.each do |flower| %>
      <div class="col-xs-6 col-md-4 col-lg-3">
        <% @family = data.families.detect{|family| family.id == flower.family }.title[I18n.locale] %>
        <% @flower_title = flower.title[I18n.locale] == "" ? flower.title.en : flower.title[I18n.locale] %>
        <a href="<%= "/#{I18n.locale}/#{@family.parameterize}/#{@flower_title.parameterize}/index.html" %>">
          <%
          @image = data.images.detect{|i| i.flower == flower.id }
          if @image.nil?
            @image_path = "https://placehold.it/332x442"
          else
            @image_path = "/#{@image.image}"
          end
          %>
          <img src="<%= @image_path %>" alt="<%= flower.title[I18n.locale] %>" class="img-responsive" />
          <h3><%= @flower_title %></h3>
          <p><%= @family %></p>
        </a>
      </div>
    <% end %>
  </div>
</div>
